@font-face {
  font-family: 'Gerstner';
  src: url('assets/fonts/Gerstner\ Programm\ Regular.otf');
}
@font-face {
  font-family: 'Swiss';
  src: url('assets/fonts/Swiss\ 721\ BT\ Medium.otf');
}

@font-face {
  font-family: 'E';
  src: url('assets/fonts/Executive-55Regular.otf');
}

body {
  font-family: 'E';
  background-color: white;
  color: black;
}

a {
  color: grey;
}

main {
  max-width: 50ch;
}
